<ion-view title="Chat" id="page3">
    <ion-content padding="true" class="has-header">
        <ion-list id="chat-list4">
            <ion-item class="item-avatar balanced  " id="chat-list-item25" ui-sref="chatRoom">
                <img src="img/L9cdgzHQJummUIEJ3dAV_faces.jpg">
                <h2balanced>kwizera inncoent</h2balanced>
            </ion-item>
            <ion-item class="item-avatar balanced  " id="chat-list-item22" ui-sref="chatRoom">
                <img src="img/L9cdgzHQJummUIEJ3dAV_faces.jpg">
                <h2balanced>kwizera inncoent</h2balanced>
            </ion-item>
            <ion-item class="item-avatar balanced  " id="chat-list-item30" ui-sref="chatRoom">
                <img src="img/L9cdgzHQJummUIEJ3dAV_faces.jpg">
                <h2balanced>kwizera inncoent</h2balanced>
            </ion-item>
            <ion-item class="item-avatar balanced  " id="chat-list-item20" ui-sref="chatRoom">
                <img src="img/L9cdgzHQJummUIEJ3dAV_faces.jpg">
                <h2balanced>kwizera inncoent</h2balanced>
            </ion-item>
            <ion-item class="item-avatar balanced  " id="chat-list-item26" ui-sref="chatRoom">
                <h2balanced>ken mukasa</h2balanced>
            </ion-item>
            <ion-item class="item-avatar  " id="chat-list-item27" ui-sref="chatRoom">
                <h2>moses</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>