<ion-view title="Notification" id="page4">
    <ion-content padding="true" class="has-header">
        <ion-list id="notification-list2">
            <ion-item class="item-avatar  " id="notification-list-item8">
                <img src="img/UHpA3mVWTLq3g5BlVMC8_faces.jpg">
                <h2>Katende likes your profile pic</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="notification-list-item9">
                <img src="img/NE9jTvaTtKiXw1WfczFO_katende_ivan.jpg">
                <h2>ken followed your back</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="notification-list-item10">
                <img src="img/8EUAsXIRRNelW4s5q7IE_katende_ivan.jpg">
                <h2>Maggie updated her status</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>