<ion-view title="People" id="page5">
    <ion-content padding="true" class="has-header">
        <ion-list id="people-list3">
            <ion-item class="item-avatar  " id="people-list-item11" ui-sref="tabsController.profile">
                <img src="img/YG0dmgTwSpuLSuHXQBZq_faces.jpg">
                <h2>Mukasa kenny</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="people-list-item12" ui-sref="tabsController.profile">
                <img src="img/0LD8pneQnO4DAUuW6v0Q_faces.jpg">
                <h2>new user</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="people-list-item13" ui-sref="tabsController.profile">
                <img src="img/ZaaW0x9STySijuiFMdi5_faces.jpg">
                <h2>katende iavn</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="people-list-item14" ui-sref="tabsController.profile">
                <img src="img/zpxc35tgQAG2WABFqenJ_faces.jpg">
                <h2>mowzey lutalo</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="people-list-item15" ui-sref="tabsController.profile">
                <img src="img/mUNj2hRTWYC4a8L78SRA_Martian_face_viking_cropped.jpg">
                <h2>dunacn jajawo</h2>
            </ion-item>
            <ion-item class="item-avatar  " id="people-list-item16" ui-sref="tabsController.profile">
                <img src="img/6pWOyEPTYKj6X4ih867d_faces.jpg">
                <h2>test user</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>