<ion-view title="Profile" id="page9">
    <ion-content padding="true" class="has-header">
        <ion-list id="profile-list8">
            <ion-item class="item-avatar  " id="profile-list-item32">
                <img src="img/Vmi5PDPUSAuSWJXEVygh_katende_ivan.jpg">
                <h2>Katende Ivan</h2>
            </ion-item>
            <ion-item class="item-divider " id="profile-list-item-divider2">Basic info</ion-item>
            <ion-item id="profile-list-item37">katende ivan</ion-item>
            <ion-item class="item-icon-right  " id="profile-list-item38">0705752569
                <i class="icon ion-ios-telephone"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="profile-list-item39">kigh143@gmail.com
                <i class="icon ion-email"></i>
            </ion-item>
        </ion-list>
        <div class="item item-body " id="profile-list-item-container9">
            <h3 id="profile-heading2" style="color:#000000;">About / quote</h3>
            <div id="profile-markdown8" style="margin-top:0px;color:#000000;">
                <p>If you are in love with more than one person, then what is inside you is nolonger a heart,its a memory card. Happy monday ba comrades mwenna</p>
            </div>
        </div>
    </ion-content>
</ion-view>