<ion-view title="Signup" id="page7">
    <ion-content padding="true" class="has-header">
        <form id="signup-form2" class="list ">
            <ion-list id="signup-list7">
                <label class="item item-input item-stacked-label " id="signup-input3" name="phone">
                    <span class="input-label">phone</span>
                    <input type="tel" placeholder="Enter number">
                </label>
                <label class="item item-input item-stacked-label " id="signup-input4" name="email">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="enter email">
                </label>
                <label class="item item-input item-stacked-label " id="signup-input5" name="password">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="Enter password">
                </label>
            </ion-list>
            <a ui-sref="verifyAccount" id="signup-button3" style="color:#FFF7FB;border-radius:0px 0px 0px 0px;" class=" button button-balanced  button-block ">Sign up</a>
        </form>
    </ion-content>
</ion-view>