<ion-view title="Updates" id="page2">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="updates-card21">
            <ion-item class="item-avatar  " id="updates-list-item17">
                <img src="img/acmADdSqQ762qNWCUFsb_faces.jpg">
                <h2>katende ivan</h2>
            </ion-item>
            <div class=" item item-image">
                <img src="img/HER8e1zaSri41GP72Muy_snap.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="item item-body " id="updates-list-item-container1">
                <div id="updates-markdown2" style="margin-top:0px;color:#000000;">
                    <p>Some friendly
                        <strong>markdown</strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="list card " id="updates-card24">
            <ion-item class="item-avatar  " id="updates-list-item23">
                <h2>Ken Mukasa</h2>
            </ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body " id="updates-list-item-container4">
                <div id="updates-markdown1" style="margin-top:0px;color:#000000;">
                    <p>Some friendly
                        <strong>markdown</strong>
                    </p>
                </div>
            </div>
            <ion-item class="item-icon-left assertive  " id="updates-list-item24">
                <i class="icon ion-music-note"></i>Play Song</ion-item>
        </div>
    </ion-content>
</ion-view>