<ion-view title="Verify Account" id="page8">
    <ion-content padding="true" class="has-header">
        <h5 id="verifyAccount-heading1" style="color:#000000;">Enter your code here</h5>
        <form id="verifyAccount-form4" class="list ">
            <label class="item item-input " id="verifyAccount-input7" name="code">
                <span class="input-label">code</span>
                <input type="text" placeholder="Enter code">
            </label>
        </form>
        <a ui-sref="tabsController.updates" id="verifyAccount-button5" class=" button button-positive  button-block ">Verify Account</a>
    </ion-content>
</ion-view>